<!DOCTYPE html>
<html>
<head>
  <title>SayWhat?</title>
  <%= javascript_include_tag 'jquery-1.7.2.min' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="message"><%= flash[:message] %></div>
  <div id="body_container">
    <div id="header_container">
      <div id="logo_container">&nbsp</div>
    </div>
    <div id="content_container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
